body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #ff1b68;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
    text-align: center;
}

.section-title {
    color: #2ddf5c;
}

h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

